<?xml version="1.0" ?>
<model>
    <name>Empty World Model</name>
    <version>1.0</version>
    <sdf version="1.6">world.sdf.xacro</sdf>

    <author>
        <name>Dharshan Bashkaran Latha</name>
        <email>d.bashkaran.latha@student.tue.nl</email>
    </author>

    <author>
        <name>Omur Arslan</name>
        <email>omurarslan.phd@sgmail.com</email>
    </author>

    <description>
        Empty Gazebo world with a reconfigurable xacro world name  
    </description>
</model>
