<?xml version="1.0"?>

<model>
    <name>core_turtlebot3_waffle_pi</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf.xacro</sdf>

    <description>
        CORE TurtleBot3 Waffle Pi
    </description>

    <author>
        <name>Omur Arslan</name>
        <email>omurarslan.phd@gmail.com</email>
    </author>

</model>
